{
	"modules": {
		"faspe": "true",
		"vad": "true",
		"cwr": "false",
		"dir": "/home/res/"
	},

	"faspe.config": {
		"res": "res_2mic_off.bin",
		"nnbf": "res_2mic_off.bin",
		"env": "ni hao xiao mu",
		"ucChanSelect": 0,
		"ucFaspResetSup": 1,
		"ucIsEngWkpWords": 0
	},

	"vad.config": {
		"ucExpIdxFspVad": 2,
		"ucExpIdxVadCache": 6,
		"ucRollBackSize": 50,
		"ucPopStreaming": 0,
		"files": "vad_decoder_assistant.cfg",
                "model": "vad_model_en.nn"
	},

	"cwr.config": {
		"iBeamResult": 1,
		"ucExpIdxVadCwr": 9,
		"ucGetCwrResTimer": 0
	},

	"workmode.config": {
		"iFrmInc": 256,
		"ucOutputChans": 1
	},

	"wkp.config": {

	}
}
